* {
  padding: 0;
  margin: 0;
}
html {
  overflow: hidden;
}

body {
  background-color: $white;
  font-family: 'Average Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fjalla One', sans-serif;
}


.container {
  padding: 30px;
}

footer {
  height: 150px;
  background-color: $footer-gray;
  color: $black;
  bottom: 0;
}