.container {
  padding: 30px;
  
  h1 {
    border-bottom: 1px solid $footer-gray;
    margin-bottom: 15px;
    
  }
  .mission-statement {
    h3 {
      padding: 15px 15px 15px 0;
    }
    width: 50%;
    margin: 0 auto;
  }
}