@import 'pages/sponsors';
@import 'pages/league';
@import 'pages/contact';
@import 'pages/fields';

.container {
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

  h1 {
    flex: 1 0 100%;
    border-bottom: 1px solid $footer-gray;
    margin-bottom: 15px;
    
  }
  > div {
    h3 {
      padding: 15px 15px 15px 0;
    }
  }

  .mission-statement {
    flex: 0 1 70%;
    p {
      padding-right: 150px;
    }
  }

  .sidebar {
    flex: 1 0 20%;
    background-color: $footer-gray;
    padding: 0 15px;
    margin-left: 10px;

    h3 {
      border-bottom: 1px solid $medium-gray;
    }
  }

  ul.doc-links, ul.announcements {
    list-style-type: none;
    margin: 15px;
    li {
      font-size: 18px;
      margin-bottom: 10px;
      
      a {
        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }
  
  .announcements {
    .announce-item {
      margin-bottom: 15px;
    }
    .date {
      font-weight: 700;
      padding-left: 10px;
    }
    .description {
      padding-left: 10px;
    }
  }
  
  @include breakpoint('sm-down') {
    .mission-statement, .sidebar {
      flex: 0 1 100%;
      margin: 15px;
    }
    .mission-statement {
      p {
        padding-right: 0;
      }
    }
  }
}