footer {
  height: 100px;
  // background-color: $footer-gray;
  border-top: 1px solid $footer-gray;
  color: $black;
  bottom: 0;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-radius: 5px;
  
  .left-block, .right-block {
    flex: 0 1 50%;
  }
}