#header-nav {
  background-color: $menu-blue;
  height: 50px;
  color: $white;
  position: relative;

  #menu-btn {
    display: none;
  }

  #nav-links {
    ul {
      list-style-type: none;
      background-color: $menu-blue;
      margin: 0 auto;
      height: 100%;
      display: flex;
      justify-content: center;

      li {
        display: inline-block;
        height: 100%;
        background-color: inherit;

        a {
          padding: 15px 20px;
          height: auto;
          display: block;
          text-decoration: none;
          color: $white;
          
          &:visited {
            color: $white;
          }
          &:hover {
            background-color: $menu-hover;
          }
        }
      }
    }
  }

  @include breakpoint('sm-down') {
    #menu-btn {
      display: inline-block;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;

      img {
        display: inline;
        vertical-align: middle;
        padding-right: 5px;
      }
    }

    #nav-links {
      display: none;
      ul {
        border-top: 1px solid $footer-gray;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;

        li {
          flex: 1 0 100%;
          &:not(:last-child) {
            border-bottom: 1px solid $footer-gray;
          }
        }
      }
    }
  }
}