---
layout: default
title: Home
bodyId: home
---
<h1> Welcome </h1>

<div class="mission-statement">
  <h3> Our Mission </h3>
  <p> The Northern Columbia Little League serves the children of northern Columbia County,
  New York who reside in the Ichabod Crane Central School District. NCLL offers baseball
  and softball programs for boys and girls. We seek, above all, to impart ideals of sportsmanship,
  honesty, loyalty, courage and respect for authority to the children of the community. 
  It is our hope that players will learn through their participation in Little League Baseball
  values that will make them strong and happy children who grow up to be good, decent, healthy 
  and trustworthy citizens. </p>
   <h3> Announcements </h3> 
  <ul class="announcements">
    {% for announcement in site.data.announcements %}
          <li class="announce-item"> <span class="date">{{announcement.date}}</span> <p class="description">{{announcement.description}}</p></li>
    {% endfor %}
  </ul>
</div>
<div class="sidebar">
  <h3> Quick Links </h3> 
  <ul class="doc-links">
    {% for doc_link in site.data.documents %}
        {% if doc_link.tags contains "quicklink" %}
          <li> <a href="{{doc_link.url}}" target="_blank">{{doc_link.label}}</a></li>
        {% endif %}
    {% endfor %}
  </ul>
</div>