<header>
  <div class="action-nav align-right">
    <div class="right-block">
      <a href="http://northerncolumbialittleleague.org/Forms/VolunteerApplication16.pdf" target="_blank"> Volunteer </a>
      <a href="http://northerncolumbialittleleague.org/Forms/Returning%20Sponsor%20Letter%202017.doc" target="_blank"> Sponsor </a>
      <a target="_blank" href="https://www.facebook.com/Northern-Columbia-Little-League-127039064028179/"><img src="{{site.baseurl}}/assets/images/fb_logo.png" alt="Facebook" width="24" height="24" /> </a>
    </div>
  </div>
  <div class="background-cover">
    <div class="header-logo">
      <img src="{{site.baseurl}}/assets/images/ncll-logo.png" alt="ncll logo" />
    </div>
    <h1> {{ site.title }} </h1>
  </div>
</header>