.committee-container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 0;

  h3.committee-heading {
    flex: 1 0 100%;
    margin-left: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid $medium-gray;
  }
  .contact-card {
    flex: 0 1 25%;
    margin: 15px;
    padding: 15px;
    background-color: $footer-gray;
    
    a {
      color: $menu-blue;
      &:visited {
        color: $menu-blue;
      }
      &:hover {
        text-decoration: underline;
        background-color: transparent;
      }
    }
    @include breakpoint('md-only') {
      flex: 0 1 40%;
    }
    @include breakpoint('sm-down') {
      flex: 0 1 100%;
    }
  }
}