#sponsors {
  .sponsor-group {
    flex: 0 1 45%;
    padding: 15px;

    ul {
      list-style-type: none;
      li {
        a {
          text-decoration: underline;
          &:hover {
            background-color: transparent;
            text-decoration: none;
          }
        }
      }
    }
  }
  
  @include breakpoint('sm-down') {
    .sponsor-group {
      flex: 1 0 100%;
    }
  }
}