---
layout: default
title: Contact Us
bodyId: Contact
permalink: "/contact/"
---
<h1> Contact Us </h1>
{% for committee in site.data.contacts %}
  <div class="">
    <h3> {{committee.committeeName}}</h3>
    {% for contact in committee.contacts %}
      {% if contact.tags contains "baseball" %}
        <div class="baseball">
          <span> {{contact.name}} </span>
          <span> {{contact.position}} </span>
          <span> {{contact.homePhone}} </span>
          <span> {{contact.cellPhone}} </span>
          <span> {{contact.email}} </span>
        </div>
      {% else if contact.tags contains "baseball" %}

      {% else if contact.tags contains "softball" %}
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}